[submodule "third_party/ca-certificates"]
	path = third_party/ca-certificates
	url = https://android.googlesource.com/platform/system/ca-certificates
[submodule "third_party/pimoroni-eagle"]
	path = third_party/pimoroni-eagle
	url = git@github.com:pimoroni/eagle.git
[submodule "third_party/pi-gen"]
	path = third_party/pi-gen
	url = git@github.com:dennisss/pi-gen.git
[submodule "third_party/libcamera"]
	path = third_party/libcamera
	url = https://git.libcamera.org/libcamera/libcamera.git
