[submodule "third_party/ca-certificates"]
	path = third_party/ca-certificates
	url = https://android.googlesource.com/platform/system/ca-certificates
[submodule "third_party/pimoroni-eagle"]
	path = third_party/pimoroni-eagle
	url = git@github.com:pimoroni/eagle.git
[submodule "third_party/pi-gen"]
	path = third_party/pi-gen
	url = git@github.com:dennisss/pi-gen.git
[submodule "third_party/libcamera"]
	path = third_party/libcamera/repo
	url = https://git.libcamera.org/libcamera/libcamera.git
[submodule "third_party/rp2040_stamp_footprints"]
	path = third_party/rp2040_stamp_footprints
	url = git@github.com:solderparty/rp2040_stamp_footprints.git
[submodule "third_party/kicad_oled"]
	path = third_party/kicad_oled
	url = git@github.com:MichMich/KiCad-SSD1306_OLED-0.91-128x32.git
[submodule "third_party/flexypin"]
	path = third_party/flexypin
	url = git@github.com:solderparty/flexypin.git
[submodule "third_party/commonmark-spec"]
	path = third_party/commonmark-spec
	url = git@github.com:commonmark/commonmark-spec.git
[submodule "third_party/google/apis"]
	path = third_party/googleapis/repo
	url = git@github.com:googleapis/googleapis.git
