*~
*.swp
*.pyc
*.pyo

/target
**/*.rs.bk

out
data
ext

node_modules
.DS_Store
dist/*
/built
/built-config
/built-rust

__MACOSX

*.so

.ipynb_checkpoints

# KiCad Stuff
fp-info-cache
_autosave*.kicad_pcb
*_pcb-bak
*.sch-bak
# Netlists are derived purely from the schematic
*.net

# Exported KiCad/CAM stuff
*.nc
*.gcode
*.gbr
**/plot/*.drl
*.FlatPrj
**/plot/*.gbl
**/plot/*.gtp
**/plot/*.gto
**/plot/*.g2
**/plot/*.g3
**/plot/*.gm1
**/plot/*.gbp
**/plot/*.gbo
**/plot/*.gts
**/plot/*.gtl
**/plot/*.gbs
**/board/plot.zip
