*~
*.swp
*.pyc
*.pyo

/target
**/*.rs.bk

/out
/data
/ext

node_modules
.DS_Store
dist/*
/built
/built-config
/built-rust
/bin

__MACOSX

*.so

.ipynb_checkpoints

# KiCad Stuff
*fp-info-cache*
_autosave*.kicad_pcb
_autosave*.sch
*_pcb-bak
*.sch-bak
# Netlists are derived purely from the schematic
*.net
*-cache.lib
*.kicad_sch.lck
*.kicad_pcb.lck
*#auto_saved_files#
*.bak

# Subdirectory specific ignores since we don't support nested gitignores
/pkg/haystack/bindings/node/native/target
/pkg/haystack/bindings/node/native/index.node
/pkg/haystack/bindings/node/native/artifacts.json
/pkg/usvg/out
/pkg/cnc/machines/voron_0/firmware/bed/r2/build

