
# TODO: Have a script for automatically checking if these are up to date before trying to open a usb device.
# sudo cp pkg/usb/udev.rules /etc/udev/rules.d/80-dacha.rules
# sudo udevadm control --reload-rules

# BlinkStick Nano
SUBSYSTEM=="usb", ATTRS{idVendor}=="20a0", ATTRS{idProduct}=="41e5", MODE="0660", GROUP="plugdev"

# Dymo PnP
SUBSYSTEM=="usb", ATTRS{idVendor}=="0922", ATTRS{idProduct}=="1001", MODE="0660", GROUP="plugdev"

# Elgato Stream Deck
SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006d", MODE="0660", GROUP="plugdev"

# Stadia Controller
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9400", MODE="0660", GROUP="plugdev"

# Cyber Power System, Inc. CP1500 AVR UPS
SUBSYSTEM=="usb", ATTRS{idVendor}=="0764", ATTRS{idProduct}=="0501", MODE="0660", GROUP="plugdev"

# RP2040 USB Bootloader
SUBSYSTEM=="usb", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0003", MODE="0660", GROUP="plugdev"

# HackRF One
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6089", SYMLINK+="hackrf-one-%k", MODE="0660", GROUP="plugdev"

SUBSYSTEM=="usb", ATTRS{idVendor}=="8888", MODE="0660", GROUP="plugdev"