@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/third_party/noto_sans/font_normal.ttf) format("truetype");
}

@font-face {
    font-family: "Noto Sans Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/third_party/noto_sans/font_mono_normal.ttf) format("truetype");
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(/assets/third_party/material_icons/material_symbols_outlined.woff2) format('woff2');
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-fill {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
}

.card-body>.table {
    padding: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.spinner-inline {
    display: inline-block;
    border-radius: 50%;
    border-top: 16px solid #444;
    border-bottom: 16px solid #444;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

.figure-series-button {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

.figure-series-button:hover {
    background-color: #eee;
}

.figure-tooltip {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
}

.video-player {
    user-select: none;
}

.video-player:not(.active) {
    cursor: none;
}

.video-player video {
    display: block;
    width: 100%;
}

.video-player.active video {
    cursor: pointer;
}


.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: opacity .25s cubic-bezier(0, 0, .2, 1);
    color: #fff;
    font-size: 0;
    opacity: 0;
}

.video-player.active .video-controls {
    opacity: 1;
}

.video-controls-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.video-controls-seek-bar {
    width: 100%;
    height: 5px;
    /* extra padding at the top to make the bar more easily clickable*/
    padding-top: 20px;
    /* z-index becomes above the gradient */
    position: relative;
}

.video-player.active .video-controls-seek-bar {
    cursor: pointer;
}

.video-controls-seek-bar>.bar {
    width: 100%;
    height: 5px;
    background-color: #444;
    position: absolute;
    bottom: 0;
    left: 0;
}

.video-controls-button-bar {
    /* z-index becomes above the gradient */
    position: relative;
}

.video-controls-button-bar>div>div {
    vertical-align: bottom;
}


.video-controls-button {
    display: inline-block;
    font-size: 24px;
    width: 48px;
    padding: 5px 5px 4px 5px;
    text-align: center;
}

.video-player.active .video-controls-button {
    cursor: pointer;
}

/* https://stackoverflow.com/questions/6868009/html-anchor-disable-style */
a.nostyle:link,
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.card-link:hover .card-header {
    text-decoration: underline;
}