[Unit]
Description=Cluster Node Runtime
After=network.target time-sync.target
Wants=time-sync.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=cluster-node
ExecStart=/opt/dacha/bundle/built/pkg/container/cluster_node --config=/opt/dacha/bundle/pkg/container/config/node.textproto
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
Alias=cluster-node.service